p{ font-size: 40px; width:100%;
}
div h1{  font-size: 60px;
}
div h2{ font-size:50px;
}
div h3{font-size:40px;
}
#zone_news{display:none;
}
#zone_affichage{width:98%;text-align:justify;
}
#b_connexion{font-size:80%;left: -185px;width:250px;height:60px;
}
#b_deconnexion{font-size:65%;left: -185px;width:250px;height:60px;
}
#b_panier{font-size:80%;left: -100px;top: -100px;height:60px;width:400px;height:60px;
}
#header,#nav{width:100%;
}
#conteneur_principal,#footer{width:100%;
}
#nav{height:83px;
}
#b_acceuil{height:80px;width:80px;
}
#bouton_commander{margin-right:200px;width:130px;
}
#lien_statistiques{top: -15px;
}
.list_menu{font-size:60px;
margin-left:20px;margin-right:40px;
}
#logo_principal{ width: 400px;
}
#footer p{font-size:25px;
}
#menu_connexion{width:500px;height:210px;top:45px;left:475px;font-size:40px;
}
#b_valider{font-size:50px;width:200px;height:60px;
}
#menu_connexion input{width:200px;height:50px;font-size: 40px;
}
#info_header{height:60px;
}
/*------------------------------------------------------------commander---------------------------------------------------------------------*/
.cellule{ width:100%;font-size:40px;
}
.titre_cellule{font-size:50px;
}
.ligne_nom_produit{width:400px;
}
.taille_champs_nombre{ width:40px; height:40px;
}
.ligne_nom_produit{380px;
}
.ligne_prix_produit{width: 130px; text-align: center;
}
.ligne_entree_nombre{width: 300px;padding-left: 40px;   position: relative;top: -6px;
}
.taille_champs_nombre{margin-right: 15px;height: 50px;width: 50px;font-size:40px;
}
.bouton_commander{font-size: 60%; height: 50px;  width: 180px;
}
.cadre_alerte{width:95%;
}
#texte_alerte{font-size:40px;
}
#img_attention,#img_info{width:60px;
}
/*--------------------------------------------------------------panier-----------------------------------------------------------------*/
#conteneur_zone_affichage_panier{width:100%;
}
#conteneur_remarque_panier{display:none; 
}
.tableau_panier{width:98%;font-size:28px; margin-left: 2px;
}
.titre_produit_tableau{ width:350px;
}
.titre_PU_tableau{width:160px;
}

.titre_quantite_tableau{width:110px;
}

.titre_total_tableau{ width:110px;
}

.titre_actions_tableau{ width:90px;
}

.col_nom_produit{width:350px; margin-top:10px;
}
.col_prix_produit{ width:160px;margin-top:10px;
}
.col_quantite_produit{ width:120px;
}
.entree_formulaire_panier{ width:60px; height:40px;
}
.col_total_produit{ width:110px; margin-top:10px;
}
.col_action_produit{width:160px;padding-left: 0;
}
.champs_vide{width:780px;
}
.champs_produit{ height:70px;
}
.b_editer{width:50px;margin: 3px 32px 10px 10px;
}
.b_supprimer{width:50px;
}
#exigence_commande{height:50px; font-size:40px; width:97%;
}
#b_annuler_panier{width:400px; height:70px; font-size:28px; 
}
#b_commander{ margin-right:20px; width:200px; height:60px; font-size:28px; margin-top:15px;
}
#commentaire_panier{ font-size:40px;
}

#header div span{ font-size: 40px;
}