#zone_affichage, #zone_news, #conteneur_zone_affichage_panier,
{
     display: inline;
	 zoom: 1;
	 

}


#zone_news
{
 background-color:rgb(150, 150, 150); 
}

#conteneur_principal, #conteneur_zone_affichage_panier
{
 	background-color:  rgb(190, 190, 190);
}

#footer{ background-color:rgb(170, 170, 170); 
}
a img {
  border: 0;
}